importFrom("deSolve","ode")
importFrom("grDevices","dev.new")
importFrom("graphics","legend", "lines", "par", "plot", "polygon")
importFrom("stats","dbinom", "median", "quantile", "rexp", "uniroot")
importFrom("utils","flush.console","data","setTxtProgressBar","txtProgressBar")
importFrom("DDD","optimizer","sample2","roundn")
importFrom("subplex","subplex")
importFrom("graphics", "abline", "axis", "points", "segments", "text")
importFrom("tensor", "tensor")
importFrom("pracma", "histc")
importFrom("foreach","foreach")
importFrom("doParallel","registerDoParallel")
importFrom("foreach","%dopar%")
export("DAISIE_convertprobdist")
export("DAISIE_dataprep")
export("DAISIE_ExpEIN")
export("DAISIE_loglik_CS")
export("DAISIE_loglik_all")
export("DAISIE_loglik_IW")
export("DAISIE_margprobdist")
export("DAISIE_ML")
export("DAISIE_ML_IW")
export("DAISIE_MW_ML")
export("DAISIE_numcol")
export("DAISIE_plot_age_diversity")
export("DAISIE_plot_island")
export("DAISIE_plot_sims")
export("DAISIE_probdist")
export("DAISIE_sim")
export("DAISIE_SR_loglik_CS")
export("DAISIE_SR_ML")
export("DAISIE_test")
export("DAISIE_tutorial")
useDynLib("DAISIE",.registration = TRUE)

